@model ProySoft.Dto.ComboDetailDto

@{
    ViewData["Title"] = "Details";
    Layout = "_LayoutCustom";
}

<h1>Details</h1>


   <section class="food_section layout_padding">
    <div class="container">
    <div class="filters-content">
        <div class="row grid">
          <div class="col-sm-6 col-lg-4 all pizza">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="~/Images/@Model.Imagen" asp-append-version="true" alt=""/>
                </div>
                <div class="detail-box">
                  <h5>
                    @Html.DisplayFor(modelItem => @Model.Name)
                  </h5>
                  <div class="options">
                    <h6>
                      @Html.DisplayFor(modelItem => @Model.Price)
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
    </div>
    </div>
</section>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="CreateCupon">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Dni" class="control-label"></label>
                <input asp-for="Dni" class="form-control" type="number" />
                <span asp-validation-for="Dni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
